<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Game Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="/img/logos/logo_4.png">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/box.css">
    <style>
        .notification {
            display: none;
            position: fixed;
            top: 16px;
            right: 16px;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 999;
        }
    </style>
</head>

<body style="overflow-x: hidden;">
    <div id="modal-share" class="modal fade" role="dialog" tabindex="-1" style="position: fixed;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share Game</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Copy the game link below to play with friends!</p>
                </div>
                <div class="modal-footer" style="display: flex;justify-content: center;align-items: center;">
                    <input id="game_link" type="text" style="width: 70%;font-size: 14px;" readonly/>
                    <button id="copy_link" class="btn btn-primary" type="button" style="width: 15%;">Copy</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex;align-items: center;justify-content: center;margin-top: 54px;">
        <div class="clickable_box" id="create_game" style="width: 25%;border-radius: 12px;/*border-color: var(--bs-emphasis-color);*/border: 2px solid #808080;margin-right: 26px;margin-left: 27px;
        background: linear-gradient(#2863fb, #9ebeed);" onclick="window.location.href='/create_game'">
            <img class="d-block" style="margin: auto;width: 100px;margin-top: 48px;display: block;/*padding-bottom: 26px;*/" src="/img/create_game.png">
            <p class="text-center" style="margin-bottom: 43px;margin-top: 55px;"><strong>Create 1v1 Game</strong></p>
        </div>
        <div class="clickable_box" id="join_game" style="width: 25%;margin-right: 26px;border: 2px solid #808080;border-radius: 12px;background: linear-gradient(#d55eff, #f7c8fb);justify-content: center;
        align-items: center;" onclick="window.location.href='/quick_play'">
            <img class="d-block" style="margin: auto;display: block;margin-top: 50px;width: 90px;" src="/img/rocket2.png" />
            <p class="text-center" style="margin-bottom: 43px;margin-top: 64px;"><strong>Quick Play</strong></p>
        </div>
        <div class="clickable_box" id="teams" style="width: 25%;border-radius: 12px;border: 2px solid #808080;background: linear-gradient(#f9467c, #ffb5b5);">
            <img style="margin: auto;display: block;width: 100px;margin-top: 48px;/*padding-bottom: 55px;*/" src="/img/teams.png">
            <p class="text-center" style="margin-top: 55px;margin-bottom: 43px;"><strong>Team Mode - Coming Soon!</strong></p>
        </div>
    </div>

    <br><br><br>

    <div class="col-md-12 search-table-col" style="width: 75%;margin-left: 12.5%;">
        <p style="width: 100%;text-align: center;font-size: 27px;">My Game</p><span class="counter pull-right"></span>
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1"  style="text-align:center;">Difficulty</th>
                        <th id="trs-hd-2" style="text-align:center;">Time Limit</th>
                        <th id="trs-hd-3" style="text-align:center;">Date Created</th>
                        <th id="trs-hd-4" style="text-align:center; width:35%">Actions</th>
                        <th id>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="game_data" style="display: none;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: center;">
                            Share<button id="share" class="btn btn-success" style="margin-left: 5px;background: rgb(244,170,59);justify-content: center;display: inline-flex;align-items: center;padding: 5px;" type="submit"><i class="fa fa-share" style="font-size: 100%;"></i></button>
                            &nbsp; Join<button id="join" class="btn btn-success" style="margin-left: 5px;justify-content: center;display: inline-flex;align-items: center;padding: 5px;" type="submit"><i class="far fa-play-circle" style="font-size: 100%;"></i></button>
                            &nbsp; Delete<button id="delete" class="btn btn-danger" style="margin-left: 5px;justify-content: center;display: inline-flex;align-items: center;padding: 5px;" type="submit"><i class="fa fa-trash" style="font-size: 100%;"></i></button>
                        </td>
                        <td id="status_game" style="color:red">Not Ready</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="notification" class="notification">Copied to clipboard!</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/setup.js" type="module"></script>
    <script src="/js/dashboard.js" type="module"></script>
</body>

</html>