<!DOCTYPE html>
<html lang = "en">
<head>
<title>Live Math 1v1</title>
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create three unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 10px;
    }
    
    .left, .right {
      width: 25%;
    }
    
    .middle {
      width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>
      <div>
        <button onclick="create_game()">Create a new game</button>
        <button onclick="connectToRandom()">Connect to a random game</button>
        <input id="game_id" placeholder="Paste game id">
        <button onclick="connectToSpecificGame()">Connect by game id</button>
      </div>
</body>

<script src="/js/socket_js.js"></script>