<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Mathemagicia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/css/Projects-Grid-images.css">
    <link rel="stylesheet" href="/css/game_input.css">
    <link rel="icon" type="image/x-icon" href="/img/logos/logo_4.png">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<body style="overflow-x: hidden;">
    <div style="height: 20%;justify-content: center;align-items: center;display: flex;">
        <p class="w-lg-50" style="font-weight: 700;/*background: #121FCF;*/background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size: 24px;">Sharpen your math skills with real time challenges!</p>
    </div>
    <section style="width: 94%;margin-left: 6%;">
        <div data-bss-parallax-bg="true" style="height: 500px;background: url('/img/blue_red_clash_2.jpg') center / cover no-repeat; background-size: 1100px 500px;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold" style="color: white;">Enter the Arena</h1>
                            <p class="my-3" style="color: white;width: 275px;"><strong>Step into the heart of competition as you answer enter &quot;The Arena&quot;. Here, battles of calculations await, as you face off against opponents in thrilling matchups that test your math mastery.</strong></p>
                            <!-- <a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a>
                            <a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--keep-->
    <div id="blank_space" style="height: 100px;"></div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="/*display: flex;*/padding-left: 6%;">
        <div class="col" id="learn">
            <div><img class="rounded img-fluid d-block w-100 fit-cover" src="/img/learn_bulb.png" style="height: 200px;object-fit: contain;margin: auto;max-height: 50%;">
                <div class="py-4"><button class="btn btn-primary d-block" id="learn_button" type="button" style="margin: auto;width: 80%;font-size: 24px;" onclick="window.location.href='/learn'">Learn</button></div>
            </div>
        </div>
        <div class="col" id="play_computer">
            <div><img class="rounded img-fluid d-block d-block w-100 fit-cover" style="object-fit: contain;margin: auto;max-width: 33%;max-height: 50%;height: 200px;" src="/img/bot.png">
                <div class="py-4"><button class="btn btn-primary d-block" id="play_computer_button" type="button" style="margin: auto;width: 80%;font-size: 24px;" onclick="window.location.href='/play_computer'">Play Computer</button></div>
            </div>
        </div>
        <div class="col" id="past_games">
            <div><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 199px;margin: auto;max-height: 50%;max-width: 35%;padding-top: 30px;padding-bottom: 30px;" src="/img/past_calendar.png">
                <div class="py-4"><button class="btn btn-primary d-block" id="past_games_button" type="button" style="margin: auto;width: 80%;font-size: 24px;" onclick="window.location.href='/past_games'">Past Games</button></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/home.js" type="module"></script>
</body>

</html>