<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Invite Players</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/pretty_search_form.css">
</head>

<body>
    <section class="py-4 py-xl-5" style="height: 68%;">
        <div class="container">
            <div class="text-center p-4 p-lg-5" style="height: 34px;">
                <h1 class="fw-bold mb-4">Invite Players to Join Your Game</h1>
            </div>
        </div>
    </section>
    <form class="d-block search-form" id="invite_form" style="width: 83%;margin: auto;margin-bottom: 20px;">
        <div class="input-group">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
            <div class="dropdown"><button class="btn btn-primary dropdown-toggle rounded-0" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="/*background: rgb(86,113,255);*//*border-radius: 5px;*/">Options</button>
                <div class="dropdown-menu">
                    <a id="search_username" class="dropdown-item" href="#">Search By Username</a>
                    <a id="search_level" class="dropdown-item" href="#">Search By Level</a>
                </div>
            </div>
            <input class="form-control" type="text" id="search_box" placeholder="Find Players">
            <button class="btn btn-light" type="button" id="search_button">Search </button>
        </div>
    </form>
    <div class="table-responsive" style="width: 83%;margin: auto;">
        <table class="table table-hover" id="friend_table" style="display:none">
            <thead>
                <tr>
                    <th style="width: 7%;"></th>
                    <th style="width: 36%;">Username</th>
                    <th style="width: 36%;">Email</th>
                    <th style="width: 21%;"></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td><input type="radio"></td>
                    <td style="width:40%">Cell 1</td>
                    <td>Cell 2</td>
                    <td><button class="btn btn-primary" type="button">Invite</button></td>
                </tr>
                <tr>
                    <td><input type="radio"></td>
                    <td style="width:40%">Cell 3</td>
                    <td>Cell 4</td>
                    <td><button class="btn btn-primary" type="button">Invite</button></td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <button id="skip" onclick="skip()">Skip</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script src="/js/invite_friend.js"></script>
</body>

</html>