<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="icon" type="image/x-icon" href="/img/logos/logo_4.png">
</head>

<body style="background: url(&quot;/img/background.jpg&quot;) center / auto no-repeat;">
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 style="color: white;font-size: 50px;"><strong>Register</strong></h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill-check">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                                    <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"></path>
                                </svg></div>
                            <form class="text-center" id="register_form" method="post">
                                <div class="mb-3"><input class="form-control" type="text" id="username" name="username" placeholder="Username" required="" minlength="1" maxlength="30"></div>
                                <div class="mb-3"><input class="form-control" type="password" id="password" name="password" placeholder="Password" required="" minlength="8" maxlength="60"></div>
                                <div class="mb-3"><input class="form-control" type="password" id="password-confirm" name="password" placeholder="Confirm Password" required="" minlength="8" maxlength="60"></div>
                                <div class="mb-3"><input class="form-control" type="text" id="f_name" name="f_name" placeholder="First Name" required="" maxlength="50" minlength="1"></div>
                                <div class="mb-3"><input class="form-control" type="text" id="l_name" name="l_name" placeholder="Last Name" required="" minlength="1" maxlength="50"></div>
                                <div class="mb-3"><input class="form-control" type="number" id="grade" name="grade" min="1" max="12" placeholder="Grade" required=""></div>
                                <div class="mb-3"><input class="form-control" type="email" id="email" name="email" placeholder="Email" required=""></div>
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" id="register" type="submit"><div class="loader"></div><span id="register_span">Register</span></button></div>
                                <span id="status_register"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/register.js"></script>
</body>

</html>