<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Game Review</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Banner-Heading-Image-images.css">
    <link rel="icon" type="image/x-icon" href="/img/logos/logo_4.png">
</head>

<body style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6" style="background-color: lightskyblue;">
                        <div class="text-white p-4 p-md-5" style="background-color: gra;">
                            <h2 class="fw-bold text-white mb-3"><br><strong><span style="color: rgb(0, 0, 0);">Game Problems &amp; Solutions</span></strong></h2>
                            <p class="mb-4" style="color: black;">Review problems and solutions from past games!</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="/img/solutions2.jpg"></div>
                </div>
            </div>
        </div>
    </section>
    <div id="problems_solutions" style="width: 90%;">
        <template id="table-component">
            <div class="table-responsive" style="overflow: visible">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center; color:rgb(43, 174, 255); font-size: 25px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle;text-align: center;">
                                <img style="max-width:85%; color: red" id="image_url" alt="No solution provided for given problem!">
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </template>
        <template id="break">
            <br><hr style="height:3px;border-width:0;color:black;background-color:black"><br>
        </template>
        <template id="solution_templ">
            <div style="display: flex; justify-content: center;">
                <p id="creds"></p>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <a><span style="color: rgb(43, 174, 255); font-size: 20px; font-weight: 600;">Solution</span></a>
            </div>
        </template>
    </div>
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="/js/review_game.js"></script>
</body>

</html>