<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Testing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&amp;display=swap">
    <link rel="stylesheet" href="/css/test_sb.css">
</head>

<body>
    <button id="button_show" type="button" style="display:none">Show Modal</button>
    <div id='modal-end' class="modal fade" role="dialog" tabindex="-1" aria-labelledby="modal-end" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center" id="go-header" style="clip-path: ellipse(65% 77% at 50% 22%);/*background-color: #ffac1c;*/">
                    <h4 class="modal-title w-100" id="game-result" style="text-shadow: 0 .1rem 0 rgba(0,0,0,.4);color: #fff;font-weight: 700;"></h4>
                    <button id="end-close" class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p style="text-align: center;font-weight: 500;font-size: 18px;margin-bottom: 0px;">Final Score:</p>
                    <div style="display: flex;justify-content: center;align-items: center;">
                        <p id="final_score1" style="width: 10%;text-align: center;font-weight: 500;color: var(--bs-blue);font-size: 25px;"></p>
                        <p style="width: 5%;text-align: center;font-weight: 700;font-size: 22px;">-</p>
                        <p id="final_score2" style="width: 10%;text-align: center;font-weight: 500;color: var(--bs-red);font-size: 25px;"></p>
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <p style="font-weight: initial;font-size: 21px;color: initial;margin-right: 2%;">Great job! You earned:</p>
                        <p id="earned_xp" style="font-size: 21px;color: #afff35;font-weight: 700;-webkit-text-stroke-width: 1.5px;-webkit-text-stroke-color: #12ae22;">&nbsp;</p>
                        <p style="text-shadow: var(--bs-body-color);font-weight: 700;background: -webkit-linear-gradient(#52ff00, #ffffff);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size: 21px;-webkit-text-stroke-width: 1.5px;-webkit-text-stroke-color: #12ae22;">XP</p>
                    </div>
                    <div style="display: flex;width: 300px;margin: auto;">
                        <div style="justify-content: center;align-items: center;display: flex;z-index: 2;">
                            <span id="player_level" style="text-align: center;z-index: 1;margin-bottom: 10px;font-weight: 700;color: #FFF;position: absolute;"></span>
                            <img style="z-index: 0;width: 60px;height: auto;" src="/img/shield.png">
                        </div>
                        <div style="display: flex;position: relative;align-items: center;margin-left: -5%;">
                            <div id="current_xp" style="height: 30px;z-index: 1;background: linear-gradient(90deg, #00b2ff, #00f863);"></div>
                            <div style="height: 30px;background-color: #d7d7d7;width: 200px;z-index: 0;opacity: 1;position: absolute;"></div>
                            <div style="height: 30px;position: absolute;width: 200px;z-index: 3;">
                                <span id="xp_value" style="font-weight: 700;color: white;text-shadow: 0 0 2px #000;text-align: center;margin: auto;display: block;height: 100%;z-index: 3;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" id="return_home" type="button"
                        data-bs-dismiss="modal">Return<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-house-door"
                            style="margin-bottom: 4px;margin-left: 2px;">
                            <path
                                d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z">
                            </path>
                        </svg></button>
                    <button class="btn btn-primary" id="rematch" type="button">Rematch</button>
                </div>

                <div class="modal-footer" style="display: none;">
                    <p>Player requested a rematch</p><button id="return_home-1" class="btn btn-light" type="button"
                        data-bs-dismiss="modal"
                        style="height: 40px;display: flex;align-items: center;justify-content: center;">Accept<img src="/img/green_check.svg"
                            style="height: auto;width: 35px;" /></button><button id="return_home-2" class="btn btn-light" type="button"
                        data-bs-dismiss="modal"
                        style="height: 40px;display: flex;align-items: center;justify-content: center;">Reject<img src="/img/red_x.svg"
                            style="height: auto;width: 35px;" /></button>
                </div>
            </div>
        </div>
    </div>

    <div id="content_div">
        <h1>This is some text.</h1>
        <button type="button">This is a button</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <!-- <script src="/js/test_sb.js"></script> -->
    <script src="/js/test.js"></script>
</body>

</html>