<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/test_cb.css">
    </head>
    <body>
        <section id="boxes">
            <div class="container containersoccer">
                <div class="sgrlogo" style="background: url(https://www.flexyscore.net/logofs.png) no-repeat center;"></div>
                <div class="box boxtimer" id="timer">12:35</div>
                <div class="box boxhometeam" id="team_1">West Team</div>
                <div class="box boxhomepoints" id="points_1">3</div>
                <div class="space">-</div>
                <div class="box boxawaypoints" id="points_2">2</div>
                <div class="box boxawayteam" id="team_2">East Team</div>
                <div class="box boxmoment boxovertimeoff" id="ovt"><span><em id="overtime">T</em><strong
                            id="moment">1</strong></span></div>
            </div>
        </section>
    </body>

</html>