<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.1.0/math.min.js"></script>
</head>

<body>
    <!-- Input field for the user -->
    <input type="text" id="user-input" placeholder="Enter your math expression">
    <button id="convert_latex" type="button">Convert to LaTeX</button>
    <button id="regular" onclick="regularMode()">Regular Input</button>
    <button id="scientific" onclick="scientificMode()">Scientific Input</button>
    <div id="latex-output">
        <!-- The converted LaTeX code will be displayed here -->
    </div>

    <!-- <div id="test_problem">
        <img src="https://mm-problem-images.s3.us-east-2.amazonaws.com/p1.png">
    </div> -->

    <script type="module" src="/js/test_latex.js"></script>
</body>

</html>