<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown Timer</title>
    <link rel="stylesheet" href="/css/test_cd.css">
</head>

<body>
    <div class="countdown-container">
        <div class="countdown" id="countdown">
            <p id="countdown_text"></p>
        </div>
    </div>
<!--     <div style="align-items: center;justify-content: center;display: flex;height: 100vh;position: relative;">
        <img class=fade-in src="/img/countdown.svg"/>
        <div style="position: absolute;">
            <p id="countdown">Paragraph</p>
        </div>
    </div> -->

    <script src="/js/test_cd.js"></script>
</body>

</html>