<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown Timer</title>
    <link rel="stylesheet" href="/css/test_cd.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="outer-container">
        <div class="countdown-container">
            <div class="countdown" id="countdown">
                <b id="countdown_text"></b>
            </div>
        </div>
        <div class="cd-background" id="cd-bg-div"></div>
        <div class="content">
            <p id="game_content">This will only be displayed after the countdown</p>
        </div>
    </div>

    <div class="control">
        <button class='btn btn-primary' onclick="testCD()">Test</button>
    </div>
<!--     <div style="align-items: center;justify-content: center;display: flex;height: 100vh;position: relative;">
        <img class=fade-in src="/img/countdown.svg"/>
        <div style="position: absolute;">
            <p id="countdown">Paragraph</p>
        </div>
    </div> -->

    <script src="/js/test_cd.js"></script>
</body>

</html>